@import "../main.scss";

#header {
  padding-top: 180px;
  .head__inner__image {
    img {
      width: 100%;
    }
  }
}
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 11;
  transition: width .3s, height .3s, opacity .3s;
}
.hover {
  background-color: red;
  opacity: 0.5;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
#blog {
  max-width: 752px;
  margin: 0 auto;
  padding: 80px 0 128px;
  .blog__inner__title {
    @include flexbox(row, start, center);
    gap: 24px;
  }
  .blog__inner__title__second {
    h1 {
      @include px-to-rem(64px);
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      font-style: normal;
      color: #1d3444;
    }
    p {
      @include px-to-rem(16px);
      font-weight: 500;
      line-height: 28px;
      font-style: normal;
      color: #5b5b5b;
      text-align: justify;
    }
    h2 {
      @include px-to-rem(48px);
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      font-style: normal;
      color: #0d1317;
    }
  }
}
