@import "../main.scss";



.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 11;
  transition: width .3s, height .3s, opacity .3s;
}
.hover {
  background-color: red;
  opacity: 0.5;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

#blogs {
  background-color: #dceaf5;
  padding: 128px 0;
  .blog {
    @include flexbox(row, space-between, center);
    .blog__title {
      @include flexbox(row, start, center);
      gap: 24px;
      p {
        @include px-to-rem(16px);
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: #394149;
        opacity: 0.87;
      }
    }
    .blog__second__title {
      h1 {
        @include px-to-rem(64px);
        max-width: 527px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: -0.03em;
        color: #1d3444;
        @include media(400px){
          font-size: 45px
        }
      }
      p {
        @include paragraph;
        max-width: 559px;
      }
      a {
        @include px-to-rem(16px);
        font-style: normal;
        font-weight: 500;
        line-height: 106.5%;
        color: #f58a07;
      }
    }
    .blog__inner__image {
      img {
        width: 100%;
      }
    }
  }
}

#blog__card {
  .blog__cards__title {
    h1 {
      @include px-to-rem(48px);
      padding: 128px 0 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-transform: capitalize;
      color: #0d1317;
    }
  }
  .blog__about {
    @include grid(3, 40px);
    padding-bottom: 128px;
    .blog__about__cards {
      background-color: #edf7ff;
      border-radius: 0px 0px 20px 20px;
      padding-bottom: 32px;
      h3 {
        @include px-to-rem(24px);
        padding: 32px 0 16px 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.03em;
        color: #0d1317;
      }
      p {
        @include px-to-rem(16px);
        padding: 0 0 24px 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: #5b5b5b;
      }
      a {
        @include px-to-rem(16px);
        padding-left: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 106.5%;
        color: #f58a07;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1250px) {
  #blog__card .blog__about {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  #blogs .blog {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    gap: 30px;
  }
  #blogs .blog .blog__title {
    justify-content: center;
  }
  #blogs .blog .blog__second__title h1 {
    max-width: 100%;
    padding: 25px 0;
  }
  #blogs .blog .blog__second__title p {
    max-width: 100%;
    padding-bottom: 20px;
  }
  #blogs .blog .blog__second__title a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #blog__card .blog__about {
    grid-template-columns: repeat(1, 1fr);
  }
}
