@import "../main.scss";

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
}
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 11;
  transition: width .3s, height .3s, opacity .3s;
}
.hover {
  background-color: red;
  opacity: 0.5;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
#section-1 {
  padding-top: 176px;
}

.sec1-container {
  display: flex;
  gap: 46px;
  align-items: center;
  .left {
    h1 {
      font-weight: 600;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.03em;
      color: #1d3444;
      max-width: 618px;
    }
    p {
      @include paragraph;
      max-width: 557px;
    }
    button {
      @include media(420px) {
        width: 18rem;
      }
      font-family: "Poppins";
      margin-top: 32px;
      height: 2.8em;
      width: 12.43rem;
      background: transparent;
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
      border: 2px solid #f58a07;
      outline: none;
      color: #f58a07;
      font-size: 17px;
      border-radius: 21px;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: #f58a07;
      color: #ffffff;
      animation: squeeze3124 0.9s both;
    }

    @keyframes squeeze3124 {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }

      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
  }
  .img_container {
    @include media(900px) {
      width: 100%;
      transform: translateX(0);
      max-height: 400px;
    }
    overflow: hidden;
    background: url("../../assets/images/nodirbek-images/Image\ \(2\).png")
      center center no-repeat;
    background-size: cover;
    width: 50%;
    // max-width: 616px;
    max-height: 650px;
    border-radius: 20px;
    transition: 0.4s;
    .square {
      position: relative;
      left: 0px;
      width: 153px;
      min-height: 600px;
      border-radius: 20px 0 0 20px;
      background: #f58a07;
      mix-blend-mode: multiply;
      transition: 0.5s ease-out;
    }
    &:hover {
      background: url("../../assets/images/nodirbek-images/Image\ \(3\).png")
        center center no-repeat;
      background-size: cover;
      .square {
        left: calc(100% - 153px);
        border-radius: 0 20px 20px 0;
      }
    }
  }
  @include media(850px) {
    flex-direction: column;
  }
  @include media(500px) {
    .left {
      text-align: center;
      h1 {
        font-size: 45px;
      }
      button {
        width: 100%;
      }
    }
  }
}

#section-2 {
  padding: 128px 0;
}

.sec2-container {
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0d1317;
  }
  .sec2-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    .card {
      box-sizing: border-box;
      max-width: 400px;
      background: rgba(193, 228, 255, 0.3);
      border-radius: 20px;
      padding: 32px 40px;
      transition: 0.5s;
      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #0d1317;
        margin: 0;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #394149;
        opacity: 0.6;
      }
      a {
        color: #f58a07;
      }
      &:hover {
        transform: scale(1.1);
        background-color: rgb(168, 199, 255);
      }
    }
    @include media(768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(550px) {
      grid-template-columns: repeat(1, 1fr);
        .card{
          max-width: none;
          width: 100%;
        }
    }
  }
}

// ----------------
#blog {
  background: #dceaf5;
  .blog {
    .blog__inner__title {
      padding-top: 96px;
      h1 {
        @include px-to-rem(48px);
        letter-spacing: -0.03em;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
        font-style: normal;
        color: #0d1317;
      }
    }
    .blog__inner__about {
      @include flexbox(row, space-between, center);
      padding: 64px 0 96px;
      gap: 40px;
      .blog__about__card {
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        padding-bottom: 32px;
        img {
          filter: grayscale(100%);
          transition: 0.5s;
          width: 100%;
          &:hover {
            filter: grayscale(0%);
          }
        }
        h2 {
          @include px-to-rem(24px);
          padding: 32px 32px 0;
          max-width: 336px;
          letter-spacing: -0.03em;
          font-weight: 500;
          line-height: 36px;
          font-style: normal;
          color: #0d1317;
        }
        p {
          @include px-to-rem(16px);
          padding: 16px 32px 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          color: #5b5b5b;
        }
        a {
          @include px-to-rem(16px);
          padding: 0 32px;
          text-decoration: none;
          font-style: normal;
          font-weight: 500;
          line-height: 106.5%;
          color: #f58a07;
        }
      }
    }
  }
}
// ----------------
@media (max-width: 1050px) {
  #header .header,
  #global .global,
  #statistics .statistics,
  #work .work__inner {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  // .video {
  //   width: 100%;
  // }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #team .team .team__inner__title h1,
  p {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  // #team .team .team__inner__about {
  //   display: grid;
  //   grid-template-columns: repeat(1, 1fr);
  // }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .line2 {
    display: none;
  }
}
