body {
  overscroll-behavior: none;
  background: #000;
}



img {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.code {
  font-family: "Arial Narrow", Arial, Arial, Helvetica, sans-serif;
  color: orange;
  font-size: 2rem;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #100cdbc2;
}
.our {
  width: 100%;
  text-align: center;
  margin-top: 700px;
  margin-left: 0px;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(88, 47, 221);
}

.js-title {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  color: #e8e6e6;
}
@media (max-width: 560px) {
  .js-title {
    font-size: 100px;
  }
}

.js-title:nth-child(1) {
  color: #1dffff;
}

.js-title:nth-child(2) {
  color: #fe0604;
  mix-blend-mode: color;
}

.js-splittext-lines {
  color: #fff;
}

.t_lead {
  color: #1dffff;
}
.p {
  color: orange;
}

.first_project {
  margin-top: 350px;
  .project_container {
    iframe {
      width: 100%;
      height: 900px;
      top: 0;
      left: 148px;
      border: 5px solid orange;
      border-radius: 25px;
    }
  }
  h2 {
    margin-top: -245px;
    text-align: center;
    font-family: "Poppins";
    font-size: 8rem;
    color: rgb(0, 34, 255);
    text-transform: uppercase;
  }
  sup {
    color: orange;
  }
  button {
    margin-top: 45px;
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
}


@media (max-width: 400px){
  .fonts{
    font-size: 35px !important;

  }
  .grid{
    display: flex;
    flex-direction: column;
  }
  .alohida{
    // flex-wrap: wrap !important;
    display: none !important;
  }
  .font{
    font-size: 25px !important;
  }
  iframe{
    height: 400px !important;
  }
  .team{
    font-size: 45px !important;
  }
}
.end {
  margin-top: 270px;
  .wrapper {
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 1;
  }

  .circle {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 0.5s alternate infinite ease;
  }

  @keyframes circle7124 {
    0% {
      top: 180px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }

    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }

    100% {
      top: 0%;
    }
  }

  .circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }

  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 0.5s alternate infinite ease;
  }

  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }

    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }

    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }

  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
}

