@import "../main.scss";
// ----------------


.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 11;
  transition: width .3s, height .3s, opacity .3s;
}
.hover {
  background-color: red;
  opacity: 0.5;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
#privacy {
  .privacy__inner {
    max-width: 752px;
    margin: 0 auto;
    padding: 128px 0;
    h1 {
      @include px-to-rem(64px);
      letter-spacing: -0.03em;
      font-weight: 600;
      line-height: 72px;
      font-style: normal;
      color: #1d3444;
    }
    p,
    h3 {
      @include px-to-rem(16px);
      font-weight: 500;
      line-height: 28px;
      font-style: normal;
      color: #5b5b5b;
      text-align: justify;
    }
    p {
      padding: 12px 0;
    }
    h3 {
      padding: 24px 0 48px;
    }
    h2 {
      @include px-to-rem(24px);
      padding: 28px 0 24px;
      letter-spacing: -0.03em;
      font-weight: 500;
      line-height: 30px;
      font-style: normal;
      color: #0d1317;
    }
  }
}
// ----------------
