@import "../main.scss";

/************* First Section ***********/

#firstSection {
  margin-bottom: 128px;
  .firstCard {
    padding-top: 176px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    .firstCard_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        @include px-to-rem(64px);
        max-width: 618px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: -0.03em;
        color: #1d3444;
      }
      p {
        @include paragraph;
        max-width: 510px;
        margin-top: 24px;
        margin-bottom: 36px;
      }
      button {
        @include px-to-rem(16px);
        max-width: 171px;
        padding: 18px 31px;
        line-height: 106.5%;
        font-weight: 600;
        font-style: normal;
        text-transform: capitalize;
        border-radius: 27px;
        color: #ffffff;
        background: #f58a07;
        border: none;
      }
    }
    .firstCard_right {
      .line {
        position: absolute;
        width: 180px;
        height: 650px;
        background: #f58a07;
        mix-blend-mode: multiply;
        border-radius: 0px 19px 20px 0px;
        transform: rotate(-180deg);
      }
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
}

/************* Second Section ***********/

#secondSection {
  .secondCard {
    display: flex;
    justify-content: space-between;
    .secondCard_left {
      img {
        width: 100%;
      }
      margin-bottom: 128px;
    }
    .secondCard_right {
      padding-top: 128px;
      h3 {
        @include px-to-rem(48px);
        max-width: 410px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #0d1317;
      }
      p {
        @include paragraph;
        max-width: 583px;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      li {
        list-style: none;
        width: 21.685rem;
        height: 1.75rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
        span {
          width: 0.3125rem;
          height: 0.3125rem;
          background: #0d1317;
          border-radius: 50%;
        }
        h6 {
          width: 20.875rem;
          height: 1.75rem;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;

          color: #5b5b5b;
        }
      }
    }
  }
}

/************* Third Section ***********/

#thirdSection {
  .thirdCard {
    display: flex;
    justify-content: space-between;
    .thirdCard_left {
      margin-top: 157px;
      h3 {
        @include px-to-rem(48px);
        max-width: 302px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #0d1317;
        margin-bottom: 24px;
      }
      p {
        @include paragraph;
        max-width: 580px;
      }
    }
    .thirdCard_right {
      img {
        width: 100%;
      }
    }
  }
  margin-bottom: 128px;
}

/************* Fourth Section ***********/

#fourthSection {
  .fourthCard {
    display: flex;
    justify-content: space-between;
    .fourthCard_left img {
      width: 100%;
    }
    .fourthCard_right {
      margin-top: 128px;
      h3 {
        @include px-to-rem(48px);
        max-width: 390px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #0d1317;
        margin-bottom: 24px;
      }
      p {
        @include paragraph;
        max-width: 583px;
      }
      li {
        list-style: none;
        width: 17.25rem;
        height: 1.75rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
        span {
          width: 0.3125rem;
          height: 0.3125rem;
          background: #0d1317;
          border-radius: 50%;
        }
        h6 {
          width: 16.4375rem;
          height: 1.75rem;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;

          color: #5b5b5b;
        }
      }
    }
  }
  margin-bottom: 128px;
}

/************* Fifth Section ***********/

#fifthSection {
  .fifthCard {
    display: flex;
    justify-content: space-between;
    .fifthCard_left {
      margin-top: 160px;
      h3 {
        @include px-to-rem(48px);
        max-width: 470px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #0d1317;
        margin-bottom: 24px;
      }
      p {
        @include paragraph;
        max-width: 580px;
      }
    }
    .fifthCard_right {
      img {
        width: 100%;
      }
    }
  }
  margin-bottom: 128px;
}

/************* Sixth Section ***********/

#sixthSection {
  .sixthCard {
    display: flex;
    justify-content: space-between;
    .sixth_left img {
      width: 100%;
    }
    .sixthCard_right {
      margin-top: 128px;
      h3 {
        @include px-to-rem(48px);
        max-width: 390px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #0d1317;
        margin-bottom: 24px;
      }
      p {
        @include paragraph;
        max-width: 583px;
      }
      li {
        list-style: none;
        width: 16.875rem;
        height: 1.75rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
        span {
          width: 0.3125rem;
          height: 0.3125rem;
          background: #0d1317;
          border-radius: 50%;
        }
        h6 {
          width: 16.0625rem;
          height: 1.75rem;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;

          color: #5b5b5b;
        }
      }
    }
  }
  margin-bottom: 128px;
}

/************* Seventh Section ***********/

#work {
  .work__inner {
    @include flexbox(row, space-between, center);
    padding-bottom: 128px;
    .work__inner__title {
      h1 {
        @include px-to-rem(48px);
        max-width: 550px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        text-transform: capitalize;
        color: #0d1317;
      }
      p {
        @include paragraph;
        max-width: 550px;
        padding: 24px 0 40px;
      }
      .login {
        @include flexbox(row, start, center);
        gap: 24px;
        .text {
          h5 {
            @include px-to-rem(24px);
            font-style: normal;
            font-weight: 500;
            line-height: 171%;
            color: #063255;
          }
          h6 {
            @include paragraph;
            color: #f58a07;
          }
        }
      }
    }
    .work__inner__image {
      iframe {
        border-radius: 20px;
      }
    }
  }
}

/************* Latest Section ***********/

#blog {
  background: #dceaf5;
  .blog {
    .blog__inner__title {
      padding-top: 96px;
      h1 {
        @include px-to-rem(48px);
        letter-spacing: -0.03em;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
        font-style: normal;
        color: #0d1317;
      }
    }
    .blog__inner__about {
      @include flexbox(row, space-between, center);
      padding: 64px 0 96px;
      gap: 40px;
      .blog__about__card {
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        padding-bottom: 32px;
        img {
          filter: grayscale(100%);
          transition: 0.5s;
          width: 100%;
          &:hover {
            filter: grayscale(0%);
          }
        }
        h2 {
          @include px-to-rem(24px);
          padding: 32px 32px 0;
          max-width: 336px;
          letter-spacing: -0.03em;
          font-weight: 500;
          line-height: 36px;
          font-style: normal;
          color: #0d1317;
        }
        p {
          @include px-to-rem(16px);
          padding: 16px 32px 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          color: #5b5b5b;
        }
        a {
          @include px-to-rem(16px);
          padding: 0 32px;
          text-decoration: none;
          font-style: normal;
          font-weight: 500;
          line-height: 106.5%;
          color: #f58a07;
        }
      }
    }
  }
}

/************ Responsive **********************/

@media (max-width: 1200px) {
  #firstSection .firstCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .firstCard_left h1 {
    max-width: 100%;
    padding: 25px 0;
  }
  #secondSection .secondCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .secondCard_right {
    padding-top: 0;
  }
  #thirdSection .thirdCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  #fourthSection .fourthCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  #fifthSection .fifthCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  #sixthSection .sixthCard {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  #work .work__inner {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .video {
    width: 100%;
  }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  // #team .team .team__inner__title h1,
  // p {
  //   text-align: center;
  //   max-width: 100%;
  //   margin: 0 auto;
  // }
}

@media (max-width: 1050px) {
  #firstSection .firstCard {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .firstCard_left {
    align-items: center;
    gap: 30px;
  }
  #secondSection .secondCard {
    flex-direction: column;
    text-align: center;
  }
  .secondCard_right {
    padding-top: 0;
  }
  #thirdSection .thirdCard {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  #fourthSection .fourthCard {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  #fifthSection .fifthCard {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  #sixthSection .sixthCard {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  #work .work__inner {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .video {
    width: 100%;
  }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  // #team .team .team__inner__title h1,
  // p {
  //   text-align: center;
  //   max-width: 100%;
  //   margin: 0 auto;
  // }
}

@media (max-width: 650px) {
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .line2 {
    display: none;
  }
  #firstSection .firstCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .firstCard_left {
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
  }
  .title_first {
    text-align: center;
  }
  #secondSection .secondCard {
    display: flex;
    flex-direction: column;
  }
  #secondSection .secondCard .secondCard_right {
    padding: 0;
  }
  #thirdSection .thirdCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #thirdSection .thirdCard .thirdCard_left {
    padding: 0;
    margin-top: 50px;
  }
  #fourthSection .fourthCard {
    display: flex;
    flex-direction: column;
  }
  #fifthSection .fifthCard .fifthCard_left {
    padding: 0;
    margin: 0;
  }
  #fifthSection .fifthCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #work .work__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #sixthSection .sixthCard {
    display: flex;
    flex-direction: column;
  }
}
