@import "../main.scss";

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 11;
  transition: width .3s, height .3s, opacity .3s;
}
.hover {
  background-color: red;
  opacity: 0.5;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
/************* First Section ***********/

.line {
  position: absolute;
  width: 180px;
  height: 650px;
  background: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 0px 19px 20px 0px;
  transform: rotate(-180deg);
}

#header {
  padding: 108px 0 79px;
  .header {
    @include flexbox(row, space-between, center);
    .header__inner__title {
      h1 {
        @include px-to-rem(64px);
        max-width: 618px;
        letter-spacing: -0.03em;
        font-weight: 600;
        line-height: 72px;
        font-style: normal;
        color: #1d3444;
      }
      p {
        @include paragraph;
        padding: 24px 0 32px;
        max-width: 510px;
      }
      .header__btn {
        padding: 18px 31px;
        line-height: 106.5%;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        text-transform: capitalize;
        border-radius: 27px;
        color: #ffffff;
        background: #f58a07;
        border: none;
      }
    }
    .header__inner__image {
      position: relative;
      overflow: hidden;
      .lines {
        filter: grayscale(100%);
        transition: 0.5s;
        width: 100%;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}
.line {
  position: absolute;
  width: 180px;
  height: 650px;
  background-color: #f58a07;
  top: 0px;
  left: 0px;
  mix-blend-mode: multiply;
  // border-radius: 20px 0px 0px 20px;
}
// ----------------
/************* Second Section ***********/

#global {
  margin-top: 128px;
  .global {
    @include flexbox(row, space-between, center);
    flex-direction: row-reverse;
    .global__inner__title {
      h1 {
        @include px-to-rem(48px);
        max-width: 585px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        font-style: normal;
        color: #0d1317;
      }
      p {
        @include paragraph;
        max-width: 510px;
        padding-top: 32px;
      }
      ul{
        li{
          list-style-type: disc;
          margin-top: 10px;
          @include paragraph;
          max-width: 500px;
        }
      }
    }
    .global__inner__image {
      position: relative;
      .lines2 {
        filter: grayscale(100%);
        transition: 0.5s;
        width: 100%;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}

#globa {
  margin-top: 128px;
  .global {
    @include flexbox(row, space-between, center);
    flex-direction: row;
    .global__inner__title {
      h1 {
        @include px-to-rem(48px);
        max-width: 585px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        font-style: normal;
        color: #0d1317;
      }
      p {
        @include paragraph;
        max-width: 510px;
        padding-top: 32px;
      }
      ul{
        li{
          list-style-type: disc;
          margin-top: 10px;
          @include paragraph;
          max-width: 500px;
        }
      }
    }
    .global__inner__image {
      position: relative;
      .lines2 {
        filter: grayscale(100%);
        transition: 0.5s;
        width: 100%;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}




.dream {
  margin-top: 128px;
  margin-bottom: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(1000px){
      flex-direction: column;
    }
  }
  &__left {
    h2 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-transform: capitalize;
      color: #0d1317;
      max-width: 550px;
    }
    &_info {
      margin-top: 24px;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #5b5b5b;
      max-width: 550px;
    }
    .hero {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      .hero_name {
        margin: 0;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 24px;
        line-height: 171%;
        color: #063255;
      }
      span {
        margin-top: 0 !important;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        line-height: 171%;
        color: #f58a07;
      }
    }
  }

  .video_container{
    position: relative;
    max-width: 620px;
    max-height: 480px;
    border-radius: 20px;
    @include media(1000px){
      margin-top: 50px;
    }
    video{
      border:5px solid orange;
      width: 100%;
      border-radius: 20px;
    }
    .play{
      padding: 17px;
      position: absolute;
      bottom: 40px;
      left: 20px;
      background: white;
      border-radius: 50%;
      z-index: 3;
    }
    .pause{
      display: none;
    }
    .bg-video{
      position: absolute;
      width: 100%;
      height: calc(100% - 13px);
      border-radius: 20px;
      background: #06315583;
      z-index: 2;
      top: 5px;
      left: 4px;
    }
    .played{
      position: absolute;
      bottom: 50px;
      font-family: 'Poppins';
      color: #f09819;
      font-size: 1.2rem;
      left: 85px;
      z-index: 3;
    }
    .playing{
      display: none;
      position: absolute;
      bottom: 50px;
      font-family: 'Poppins';
      color: #f09819;
      font-size: 1.2rem;
      left: 85px;
      z-index: 3;
    }
   
  }
  .video_container.active{
    .pause{
      display: block;
    }
    .bg-video{
      display: none;
    }
    .playing{
      display: block;
    }
    .played{
      display: none;
    }
    video{
      border:5px solid #fff;
    }
  }
}

/************* Latest Section ***********/

#blog {
  background: #dceaf5;
  .blog {
    .blog__inner__title {
      padding-top: 96px;
      h1 {
        @include px-to-rem(48px);
        letter-spacing: -0.03em;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
        font-style: normal;
        color: #0d1317;
      }
    }
    .blog__inner__about {
      @include flexbox(row, space-between, center);
      padding: 64px 0 96px;
      gap: 40px;
      .blog__about__card {
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        padding-bottom: 32px;
        img {
          filter: grayscale(100%);
          transition: 0.5s;
          width: 100%;
          &:hover {
            filter: grayscale(0%);
          }
        }
        h2 {
          @include px-to-rem(24px);
          padding: 32px 32px 0;
          max-width: 336px;
          letter-spacing: -0.03em;
          font-weight: 500;
          line-height: 36px;
          font-style: normal;
          color: #0d1317;
        }
        p {
          @include px-to-rem(16px);
          padding: 16px 32px 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          color: #5b5b5b;
        }
        a {
          @include px-to-rem(16px);
          padding: 0 32px;
          text-decoration: none;
          font-style: normal;
          font-weight: 500;
          line-height: 106.5%;
          color: #f58a07;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  #header .header,
  #global .global,
  #globa .global,
  #statistics .statistics,
  #work .work__inner {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  // .video {
  //   width: 100%;
  // }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #team .team .team__inner__title h1,
  p {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  // #team .team .team__inner__about {
  //   display: grid;
  //   grid-template-columns: repeat(1, 1fr);
  // }
  #blog .blog .blog__inner__about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .line2 {
    display: none;
  }
}

@media (max-width: 1115px) {
  .firstSection .firstCard {
    flex-direction: column;
  }
}
