// Colors
$orange: #F58A07;
$light-yellow: #FFD3AF;
$blue:#DCEAF5;
$light-blue: #ECF8F9;

$dark-bg: #232536;
$footer-bg: #063255;

// Text colors
$white: #fff;
$black: #000;
$title-color: #232536;
$p-color: #5D5F6D;

